.home-component{
    background-color: var(--lightgray);
    min-height: 100vh;
    height: auto;
    width: 100vw;
    padding-bottom: 10px;
}

.home-container{
    display: flex;
    flex-direction: column;

}
.home-image-container, .home-info-container{
    width: 100%;
    margin: auto;
}

.death-icon{
    display: block;
    height: auto;
    width: 60%;
    margin: 30px auto;
}


.home-logo-icon{
    display: block;
    height: auto;
    width: 70%;
    margin: auto;
}

/*Ipad sizing */

@media(min-width: 750px){
    
    .death-icon{
        width:40%;
    }   
}

/*monitor size */

@media(min-width:1100px){
    .home-container{
        flex-direction: row;
    }

    .death-icon, .home-logo-icon{
        height: 400px;
        width: auto;
        margin-top: 120px;
    }
}