.home-component{
    background-color: var(--lightgray);
    min-height: 100vh;
    height: auto;
    width: 100vw;
    padding-bottom: 10px;
}

.home-container{
    display: flex;
    flex-direction: column;
    

}
.home-image-container, .home-info-container{
    width: 100%;
    margin: 30px auto 0 auto;
}

.death-icon{
    display: block;
    height: auto;
    width: 60%;
    margin: 30px auto;
}


.home-logo-icon{
    display: block;
    height: auto;
    width: 70%;
    margin: auto;
}

/*Ipad sizing */

@media(min-width: 750px){
    
    .death-icon{
        width:40%;
    }   
}

/*monitor size */

@media(min-width:1100px){
    .home-component{
        background-color: var(--gunmetal);
    }

    .home-container{
        background-color: var(--lightgray);
        width: 80%;
        margin: 0 10%;
        height: 100vh;
    }
    .home-brand-video-container{
        width: 100%;
    }
    .home-container{
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 10px

    }

    .death-icon, .home-logo-icon{
        height: 350px;
        width: auto;
        margin: 60px auto;
    }

    .home-image-container, .home-info-container{
        width: 100%;
        margin: 60px auto;
    }
}